<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	  http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-4.3.xsd
	  http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--spring整合mybatis-->
	<!--定义数据源:指定连接的数据配置-->
	<bean id="configurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!--spring容器: 提供创建管理对象-->
	<!--定义sqlSesession工厂-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--引用数据源-->
		<property name="dataSource" ref="dataSource"></property>
		<!--读取mybatis的配置文件-->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<!--spring整合dao层，动态生成dao成接口实现类的对象-->
	<bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--引入sqlSessionFatory工厂-->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!--扫描dao层接口，动态生成实现类的对象-->
		<property name="basePackage" value="com.team.appinfosystem.mapper"></property>
	</bean>
	<!--spring的事务支持配置-->
	<!--配置注解事务支持-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 注解方式配置事物    Aop-->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"></tx:annotation-driven>
	<!--扫描业务层实现类，动态生成实现类对象-->
	<context:component-scan base-package="com.team.appinfosystem.service.impl"></context:component-scan>

</beans>

